#jspsych-survey-multi-choice-form, .jspsych-survey-multi-choice-text{
  text-align: left;
}

/*.jspsych-cloze-stimulus, #jspsych-survey-multi-choice-form, .jspsych-prompt, #jspsych-survey-likert-form, #jspsych-survey-text-form, .jspsych-survey-text-preamble{
  max-width: 840px;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
}*/
 .jspsych-content-wrapper{
   justify-content:flex-start;
 }
 .jspsych-content{
   text-align: left;
   margin: inherit;
   width:95%;
 }

.jspsych-display-element .mdl-js-textfield{
  line-height: normal;
}


.label-remove-margin-bottom{
  margin-bottom: -15px;
}

#jspsych-content .mdl-textfield{
  margin-bottom:10px;
}

.default-content{
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.radio-container label{
  margin-right: 20px;
}


p.jspsych-survey-multi-choice-text{
  margin: 0;
}

.jspsych-survey-multi-choice-question{
  margin-bottom: 32px;
}
